%table(class="table table-hover text-center" )
  %tr
    %td
      编号
    %td
      姓名
    %td
      手机号
  -@sign_ups.each do |sign_up|
    %tr
      %td
        =@count+=1
      %td
        =sign_up.name
      %td
        =sign_up.phone