=render :partial => "layouts/crubs_nav",:locals => {:field=>'竞价列表'}
%fieldset(style="margin:50px 50px")
  %legend
    竞价列表
    .text-right(style="font-size:14px")
      =link_to "报名列表",sign_up_list_path(:name=>params[:name])
    =render :partial => "show_bids"
=render :partial => 'layouts/will_paginate',:locals => {:array=> @bids}