-if field
  %ul(class="breadcrumb")
    %li
      =link_to "扶뒬못",manager_logined_path(:page=>params[:page])
    %li(class="active")
    =field
-else
  %ul(class="breadcrumb")
    %li(class="active" )
      扶뒬못