.input-group(style="margin:20px auto auto auto" )
  =form.label field_title||field.humanize, :for=>field,:class =>'input-group-addon text-center',:style =>'width:120px'
  =form.password_field field,:class =>'form-control',:style =>'width:450px',:size=>User::PASSWORD_SIZE,:maxlength=>User::PASSWORD_MAX_LENGTH,:placeholder=>placeholder_text