=render :partial =>"layouts/crubs_nav",:locals => {:field=>'修改密码'}
%fieldset(style="width:600px;width:50% ;margin:auto auto")
  %legend
    修改密码
  =form_for(:user,:url => 'edit_user') do |form|
    =render :partial => "layouts/text_field_locking_row",:locals => {:form=>form,
                                                             :field=>"name",
                                                             :field_title=>'帐号',
                                                             :placeholder_text=>'请输入要修改的帐号'}
    =render :partial => "layouts/password_field_row",:locals => {:form=>form,
                                                                 :field=>"password",
                                                                 :field_title=>"密码",
                                                                 :placeholder_text=>'请输入密码'}
    =render :partial => "layouts/password_field_row",:locals => {:form=>form,
                                                                 :field=>"password_confirmation",
                                                                 :field_title=>"确认密码",
                                                                 :placeholder_text=>'请重新确认密码'}
    =render :partial => "layouts/error_user_field_row",:locals => {:user=>@user}
    =render :partial => "layouts/submit_field_row",:locals => {:form=>form,
                                                               :field_title=>'确认修改'}